h1 {
    color: #e20d0d; 
    font-family:   "Helvetica";    
    font-size: 26px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin: 0px;
    padding: 0px;
    width: 1070px;
    }
    